<div class="game-page" ng-controller="GameCtrl">

	<h1>Create Game</h1>

	<hr>

	<div>
		<h4>The Game:</h4>
		<select class="form-control">
		  <option>Football</option>
		  <option>Tennis</option>
		</select>
	</div>

	<div id="wrapper">
		<div id="date">
			<h4>The Time:</h4>
			<div class="row">
				<div class="col-md-6">
					<p class="input-group">
					<div class = "date" style="display:inline-block; min-height:290px;">
						<datepicker ng-model="startDate" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
					</div>
					</p>
				</div>
			</div>
		</div>
		<div id="time">
			<timepicker class="startTime" hour-step="1" minute-step="1" show-meridian="false" ng-model="mytime" ng-change="changed()"></timepicker>
		</div>
	</div>

	<div>
		<h4>The Place:</h4>
		<input type="text" ng-model="place" typeahead="place.name for place in places | filter:$viewValue | limitTo:8" class="form-control">
	</div>

	<div>	
		<h4>The Team:</h4>
		<select class="form-control game-team">
		  <option ng-repeat="team in teams">{{team.name}}</option>
		</select>
	</div>		
		<br>
		
	<div>	
		<h4>The Opponent:</h4>

		<div type="button" class="btn" ng-click="chooseOponent(opponent)" ng-class="{'btn-info': opponent != chosenOpponent, 'btn-success': opponent == chosenOpponent}" ng-repeat="opponent in opponents" id="opponent">
			<div id="name">{{opponent.name}} -</div>
			<div id="rank">- Rank: {{opponent.rank}} </div>
			<br>
		</div>
	</div>

	<br>

	<button type="button" class="btn btn-primary btn-lg" ng-click="create()">Create Game</button>
	
</div>
