<div class="team-page" ng-controller="TeamCtrl">
	<h1>Create a team</h1>

	<div >
		<h4>The Name:</h4>
		<input type="text" ng-model="team.teamName" ng-change="" class="form-control margins" autofocus placeholder="Team Name"/>
	</div>

	<div>
		<h4>Regular Play Times:</h4>
		<div class="play-dates">
			<div class="row"  id="wrapper" ng-repeat="playDate in playDates">
				<select class="form-control" id="select-day" ng-model="playDate.date">
				  <option>Monday</option>
				  <option>Tuesday</option>
				  <option>Wednesday</option>
				  <option>Thursday</option>
				  <option>Friday</option>
				  <option>Saturday</option>
				  <option>Sunday</option>
				</select>
				<timepicker class="time" id="select-time" hour-step="1" minute-step="1" show-meridian="false" ng-model="playDate.time" ng-change="changed()"></timepicker>
				<button type="button" class="btn btn-success" id="add-button" ng-click="addPlayDate(playDate)"><bold>+</bold></button>
				<button type="button" class="btn btn-success" id="remove-button" ng-click="removePlayDate(playDate)"><bold>-</bold></button>
				
			</div>

		</div>
	</div>
	
	<div>	
		<h4>Add Player:</h4>
		<input type="text" ng-model="newPlayer" typeahead="player.name for player in availablePlayers | filter:$viewValue | limitTo:8" class="form-control margins" autofocus placeholder="Player Name"typeahead-on-select="selectPlayer(newPlayer);">
	</div>
	
	<div>	
		<h4>Selected Players:</h4>
		
			<div ng-if="(selectedPlayers.length == 0)">
				<p>No players were selected.</p>
			</div>
			<div ng-if="selectedPlayers.length > 0">
				<ul>
					<li ng-repeat="selctedPlayer in selectedPlayers">{{selctedPlayer}} </li>
				</ul>
			</div>
		
	</div>
	<button type="button" class="btn btn-primary btn-lg" ng-click="createTeam()">Create Team</button>
</div>
</div>
