<div class="home-page">
    <div class="btn-group create-menu">
        <a type="button" class="btn btn-lg btn-primary" ng-href="/#/create-team">Create Team</a>
        <a type="button" class="btn btn-lg btn-info" ng-href="/#/create-game">Create Game</a>
    </div>

    <ul class="timeline">
        <li ng-class-even="'timeline-inverted'" ng-repeat="event in events">
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
            <timeline-item class="timeline-panel" event="event"></timeline-item>
        </li>
    </ul>

</div>
