<div style="text-align:center;">
    <form method="post" class="form-signin" style="max-width:400px; margin:auto;">
        <h2 class="form-signin-heading">Login:</h2>
        <input type="text" ng-model="username" class="form-control" autofocus placeholder="Email or Password"/>
        <input type="password" ng-model="password" class="form-control" placeholder="Password"/>
        <button style="margin-top: 20px;" class="btn btn-lg btn-primary btn-block" ng-click="login()">Login</button>   
    </form>
</div>
