.game-page {
	
	#wrapper {
		width: 100%;
		overflow: hidden; /* add this to contain floated children */
	}

	#date {
		width: 80%;
		float:left; /* add this */
	}
	
	#time {
		float: left; /* add this */
		margin-top: 120px;
	}
	
	#oponent {
		overflow: hidden; /* add this to contain floated children */
	}

	#name {
		float:left; /* add this */
	}
	
	#rank {
		float: left; /* add this */
	}
	
	.game-team{
		vertical-align: middle !important;
		display: block;
		margin-top: 5px;
	}
	
	
}