.game-page {
	
	#wrapper {
		width: 100%;
		height: 300px;
		overflow: hidden; /* add this to contain floated children */
	}

	#date {
		width: 80%;
		float:left; /* add this */
		margin: 30px 30px 30 px 30px
	}
	
	#time {
		float: left; /* add this */
	}

	}
