.game-page {
	
	#wrapper {
		width: 100%;
		overflow: hidden; /* add this to contain floated children */
	}

	#date {
		width: 80%;
		float:left; /* add this */
	}
	
	#time {
		float: left; /* add this */
		margin-top: 120px;
	}
}